body { 
    background-color: wheat
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightskyblue;
    
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightblue;
    height: 50vh;
    width: 100vw;
}

#heroBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightskyblue;
    width: 100vw;
}

#left {
    display: flex;
    align-items: center;
}

#right {
    display: flex;
    align-items: center;
    
}

#about {
    background-color: lightblue;
    height: 50vh;
    width: 100vw;
}

#work {
    background-color: lightskyblue;
    height: 50vh;
    width: 100vw;

}

#javascript {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#contact {
    background-color: lightblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 100vw;
}